In [59]:
import requests
import pandas as pd
import tqdm

In [46]:
def correct(text):
    responce = requests.post('https://speller.yandex.net/services/spellservice.json/checkText',
                             data = {'text' : text})
    new_text = text
    minus_len = 0
    for word in responce.json():
        new_text = new_text[:word['pos'] - minus_len] + word['s'][0] + new_text[word['pos'] - minus_len + word['len']:]
        minus_len += word['len'] - len(word['s'][0]) 
    return new_text

In [68]:
text = 'ана детыктив'
correct(text)

'анна детектив'

In [32]:
queries_df = pd.read_csv('queries.tsv', sep='\t', header=None)
queries_df.rename(columns={0: "id", 1: "query"}, inplace=True)

In [60]:
corrected_queries = []
for index, row in tqdm.tqdm(queries_df.iterrows()):
    corrected_queries.append(correct(row.query))

6311it [15:19,  6.86it/s]

In [61]:
queries_df['corrected_query'] = corrected_queries

In [63]:
queries_df[:10]

,id,query,corrected_query
0,0,13 причин почему,13 причин почему
1,1,1 положительный и 1 отрицательный могут ли,1 положительный и 1 отрицательный могут ли
2,2,2016 действует ли зао рождественская мануфактура,2016 действует ли зао рождественская мануфактура
3,3,1 месяц после операции на кишечнику диета что ...,1 месяц после операции на кишечнике диета что ...
4,4,2 правды 1 ложь что можно придумать,2 правды 1 ложь что можно придумать
5,5,10 книг которые нужно прочитать что бы быть сп...,10 книг которые нужно прочитать чтобы быть спо...
6,6,100 к 1 что нужно взять в,100 к 1 что нужно взять в
7,7,1 как называется форма приведенная на рисунке ...,1 как называется форма приведенная на рисунке ...
8,8,27 20 16 есть ли жизнь после смерти а чапман,27 20 16 есть ли жизнь после смерти а чапман
9,9,gjvjuftn kb akerjyfpjk jn vjkjxybws,помогает ли флуконазол от молочницы

In [64]:
queries_df.to_csv('corrected_queries.tsv', index=False, sep='\t')